<html>
    <body>
    <h1>Ma bibliothèque personnelle :</h1>
    <h3>Mes livres en cours de lecture :</h3>
        <ul>
            <li>{{ aQuery.title }}</li>
        </ul>
    <h3>Mes livres lus :</h3>
    </body>
</html>