<div class="sonata-ba-content">
    <div class="panel panel-default">
        <div class="panel-heading">Liste des derniers emprunts</div>
        <div class="panel-body text-justify">
            <table class="table table-hover">
            <thead>
                <tr>
                    <td class="text-center">Prêteur</td>
                    <td class="text-center">Livre</td>
                    <td class="text-center">Emprunteur</td>
                    <td class="text-center">Date du début d'emprunt</td>
                    <td class="text-center">Actions</td>
                <tr>
            </thead>
                <tr>
                {% for relation in relations %}
                    <td class="text-center">User {{ share.lender_id }}</td>
                    <td class="text-center">Livre {{ share.book_id }}</td>
                    <td class="text-center">User {{ share.borrower_id }}</td>
                    <td class="text-center">{{ share.start_date | date('d-m-Y h:i:s') }}</td>
                {% endfor %}
                    <td class="text-center"><a href="#" class="fa fa-eye"></td>
                </tr>
            <table>
        </div>
    </div>
</div>